/*Loader*/
.loader-container {
  position: fixed;
  background-color: rgb(234 234 234);
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: opacity 2s cubic-bezier(1, -0.16, 1, -0.48) forwards;

  @keyframes opacity {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -10;
    }
  }

  &__loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #5b5963;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s ease-in-out infinite;

    body.dark-theme & {
      border: 16px solid #555; // Changer la couleur de la bordure pour le mode nuit
      border-top: 16px solid #fff; // Changer la couleur de la bordure supérieure pour le mode nuit
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
