.skills__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

  &--list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 3rem 0 1rem;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 0.5rem 0 0.5rem;
      margin: 0;
    }
  }

  &--logo {
    opacity: 0;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
    position: relative;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: visible;
    z-index: 1;
    img {
      max-width: 100%;
      height: 3.5rem;
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      top: -9px;
      width: calc(100% + 7px);
      height: calc(100% + 7px);
      border-radius: 50%;
      background-color: #ecedef;
      border: 2px none #ecedef;
      transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
      z-index: -1;
    }
    &.skills__container--logo-1:hover::before {
      background-color: #e34f27;
    }
    &.skills__container--logo-2:hover::before {
      background-color: #1b74ba;
    }
    &.skills__container--logo-3:hover::before {
      background-color: #d0649a;
    }
    &.skills__container--logo-4:hover::before {
      background-color: #e9ca32;
    }
    &.skills__container--logo-5:hover::before {
      background-color: #62dafb;
    }
    &.skills__container--logo-6:hover::before {
      background-color: #764abc;
    }
    &.skills__container--logo-7:hover::before {
      background-color: #8cc84c;
    }
    &.skills__container--logo-8:hover::before {
      background-color: #000000;
    }
    &.skills__container--logo-9:hover::before {
      background-color: #3c99d4;
    }
    &:hover::before {
      transform: scale(1.2);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &--subtitle {
    font-weight: 600;
  }
  &--card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    &:nth-child(1) {
      .skills__container--logo {
        animation-delay: 2s;
      }
    }
    &:nth-child(2) {
      .skills__container--logo {
        animation-delay: 2.2s;
      }
    }
    &:nth-child(3) {
      .skills__container--logo {
        animation-delay: 2.4s;
      }
    }
    &:nth-child(4) {
      .skills__container--logo {
        animation-delay: 2.6s;
      }
    }
    &:nth-child(5) {
      .skills__container--logo {
        animation-delay: 2.8s;
      }
    }
    &:nth-child(6) {
      .skills__container--logo {
        animation-delay: 3s;
      }
    }
    &:nth-child(7) {
      .skills__container--logo {
        animation-delay: 3.2s;
      }
    }
    &:nth-child(8) {
      .skills__container--logo {
        animation-delay: 3.4s;
      }
    }
    &:nth-child(9) {
      .skills__container--logo {
        animation-delay: 3.6s;
      }
    }
  }

  body.dark-theme & {
    &--title,
    &--list,
    &--card {
      color: #fff; // Change la couleur du texte pour le mode nuit
    }
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
