.projects__card {
  position: relative;

  &:hover {
    transform: scale(1.05);

    .projects__card--img {
      filter: brightness(0.5);
    }

    .projects__card--content {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &--img {
    object-fit: cover;
    height: 20rem;
    width: 100%;
    transition: filter 0.4s ease-out;
  }

  &--content {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    transition: all 0.4s ease-out;
    animation-fill-mode: both;
    color: white;
    padding-left: 1rem;
    transform: translateY(100%);
    font-size: x-large;
    @media (max-width: 768px) {
      opacity: 1;
      transform: translateY(0);
      background: #00000057;
      width: 100%;
      height: 27%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      padding-left: 0rem;
    }
    &--title {
      margin-top: auto;
    }
    &--hashtags {
      display: flex;
      gap: 1rem;
      color: white;
    }
  }
}
