header {
  background: #f5f5f5;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.9rem;
  .header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    @media (max-width: 768px) {
      width: auto;
    }
    &--name {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      a {
        text-decoration: none;
        color: #5b5963;
      }
      @media (max-width: 768px) {
        flex-direction: row-reverse;
        gap: 6px;
      }
    }

    &-titles {
      gap: 1rem;
      display: flex;
      a {
        text-decoration: none;
        color: black;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

/*Loader*/
.loader-container {
  position: fixed;
  background-color: rgb(234 234 234);
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: opacity 2s cubic-bezier(1, -0.16, 1, -0.48) forwards;

  @keyframes opacity {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
  &__loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #5b5963;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
