header {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.9rem;
  background: white;

  // Lorsque body a la classe dark, alors le selecteur header va appliquer ceci
  body.dark-theme & {
    background: #333; // Change la couleur de fond pour le mode nuit
  }

  .header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5rem;
    @media (max-width: 768px) {
      padding: 0 4rem;
    }
    &--logo {
      height: 5rem;
    }
    &--name {
      padding: 12px 0 0 5rem;

      a {
        text-decoration: none;

        body.dark-theme & {
          color: #fff; // Changer la couleur du texte pour le mode nuit
        }
      }
    }
    &--section {
      display: flex;
      flex-direction: row;
    }
    &--titles {
      gap: 1rem;
      display: flex;
      padding-right: 1rem;

      a {
        text-decoration: none;
        font-weight: 700;

        body.dark-theme & {
          color: #fff; // Changer la couleur du texte pour le mode nuit
        }
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
    &--module {
      display: flex;
      align-items: center;
      flex-direction: row;
      @media (max-width: 768px) {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}
