footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &--list {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    color: white;
  }
  &--icon {
    color: white;
  }
  &--copy {
    margin: 0 0 1rem 0;
  }
}
