footer {
  background-color: #11324a;
  color: white;
  display: flex;
  align-items: flex-end;
  height: 5rem;
  justify-content: center;
  position: relative;

  body.dark-theme & {
    background: black;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0 20px;
  z-index: 1;

  &--list {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    color: white;
    margin-left: auto;

    body.dark-theme & {
      color: #fff;
    }
  }

  &--icon {
    color: white;

    body.dark-theme & {
      color: #fff;
    }
  }
  &--logo {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 9rem;
    z-index: 0;
    @media (max-width: 768px) {
      height: 7rem;
    }
  }
  &--copy {
    margin: auto; // Centre le paragraphe
    text-align: center; // Centre le texte

    body.dark-theme & {
      color: #fff;
    }
  }
}
