html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Open Sans, Helvetica Neue, sans-serif;
}
.hidden {
  display: none;
}

header {
  background-color: white;
  padding: 1rem 0 1rem 0;
  position: fixed; /* rend l'en-tête fixe */
  width: 100%; /* assure que l'en-tête s'étend sur toute la largeur de la page */
  top: 0; /* positionne l'en-tête en haut de la page */
  z-index: 1000; /* assure que l'en-tête est toujours au-dessus des autres éléments */
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__container--name {
  display: flex;
  flex-direction: column;
}
.header__container--name a {
  text-decoration: none;
}
.header__container-titles {
  gap: 1rem;
  display: flex;
}
.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__container {
  margin: 3rem 0 3rem 0;
}
.skills__container--title {
  display: flex;
  justify-content: center;
}
.skills__container--list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: 3rem 0 1rem 0;
}
.skills__container--logo {
  height: 4rem;
  width: auto;
}
.skills__container--card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.projects__container--title {
  display: flex;
  justify-content: center;
}
.projects__container--list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.projects__container--card {
  border-radius: 10px;
  box-shadow: 0 8px 24px hsl(210deg 8% 62% / 31%);
  cursor: pointer;
  display: block;
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  transition: transform 0.7s ease-out; /* ajoute une transition à la propriété transform */
}

.projects__container--card:hover {
  transform: scale(1.05); /* fait grandir la vignette de 5% */
}

.projects__container--filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}
.projects__container--filter:hover {
  background: rgba(0, 0, 0, 0.79);
  color: #fff;
}
.projects__container--filter {
  border-radius: 0.5rem;
  cursor: pointer;
  background: #f5f5f5;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 8px 20px;
  transition: all 0.4s ease-in-out 0s;
}
.projects__card {
  position: relative;
}

.projects__card:hover {
  transform: scale(1.05); /* fait grandir la vignette de 5% */
}
.projects__card--img {
  object-fit: cover;
  height: 20rem;
  width: 100%;
  transition: filter 0.4s ease-out; /* ajoute une transition à la propriété filter */
}

.projects__card--img:hover {
  filter: brightness(0.5);
}
.projects__card--content {
  position: absolute;
  bottom: 0px;
  opacity: 0;
  transition: all 0.4s ease-out;
  animation-fill-mode: both;
  color: white;
  padding-left: 1rem;
  transform: translateY(100%); /* déplace le contenu vers le bas */
}

.projects__card:hover .projects__card--content {
  opacity: 1;
  transform: translateY(0); /* déplace le contenu vers le haut */
}
.projects__card--content--hashtags {
  display: flex;
  gap: 1rem;
}
.form {
  margin: 2rem 0 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
.form__container--area {
  border-radius: 5px;
  width: 50%;
  height: 2rem;
}
.form__container--areas {
  border-radius: 5px;
  width: 50%;
}

.form__container--submit {
  background: rgba(0, 0, 0, 0.79);
  border-radius: 5px;
  color: #fff;
  width: 50%;
  height: 2rem;
}
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.modal {
  display: block; /* cache la modale par défaut */
  position: fixed; /* positionne la modale par rapport à la fenêtre du navigateur */
  z-index: 1; /* assure que la modale est au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%; /* largeur complète */
  height: 100%; /* hauteur complète */
  overflow: auto;
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* couleur d'arrière-plan avec opacité */
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.modal__container {
  position: relative;
  background-color: #fefefe;
  margin: 8% auto; /* 15% depuis le haut et centré */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* largeur de la modale */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__container--description {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.modal__container--description--list {
  padding-left: 1rem;
  list-style-type: initial;
}
.modal__container--description--logo {
  width: 40%;
}
.modal__container--description--skills {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.modal__container--link {
  border-radius: 0.5rem;
  background: #f5f5f5;
  letter-spacing: 1px;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out 0s;
  margin: 0.5rem;
  text-decoration: none;
  color: black;
}
.slider {
  width: 80%;
}
.slider__container {
  position: relative;
  width: 100%;
  height: 27vh; /* ajustez en fonction de vos besoins */
  overflow: hidden;
}

.slider__container--arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

.slider__container--arrow--left {
  left: 10px;
}

.slider__container--arrow--right {
  right: 10px;
}

.slider__container--track {
  display: flex;
  width: 100%;
  height: 100%;
}

.slider__container--image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.skillslist__container--logo {
  height: 2rem;
  width: auto;
}
